body    {
    background: tan;
}

#container  {
    border: 2px solid rgb(128, 128, 128);
    width: 360px;
    margin: 0 auto;
}

.completed  {
    color: rgb(128, 128, 128);
    text-decoration: line-through;
}

